@import "tailwindcss";

/* Untuk Register dan Login animasi*/
@keyframes blob {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1);
  }
  66% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@font-face {
  font-family: Helvetica;
  src: url('./assets/helvetica-255-webfont/Helvetica.woff');
}

@font-face {
  font-family: HelveticaBold;
  src: url('./assets/helvetica-255-webfont/Helvetica-Bold.woff');
}

.Helvetica {
  font-family: Helvetica;
}

.HelveticaBold {
  font-family: HelveticaBold;
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-1000 {
  animation-delay: 1s;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-3000 {
  animation-delay: 3s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
